[submodule "src/cargo-count"]
	path = src/cargo-count
	url = https://github.com/kbknapp/cargo-count
[submodule "src/cargo-outdated"]
	path = src/cargo-outdated
	url = https://github.com/kbknapp/cargo-outdated
[submodule "src/cargo-graph"]
	path = src/cargo-graph
	url = https://github.com/kbknapp/cargo-graph
[submodule "src/cargo-check"]
	path = src/cargo-check
	url = https://github.com/rsolomo/cargo-check
[submodule "src/cargo-do"]
	path = src/cargo-do
	url = https://github.com/pwoolcoc/cargo-do
[submodule "src/cargo-edit"]
	path = src/cargo-edit
	url = https://github.com/killercup/cargo-edit
[submodule "src/cargo-script"]
	path = src/cargo-script
	url = https://github.com/DanielKeep/cargo-script
[submodule "src/cargo-watch"]
	path = src/cargo-watch
	url = https://github.com/passcod/cargo-watch
[submodule "src/cargo-clippy"]
	path = src/cargo-clippy
	url = https://github.com/arcnmx/cargo-clippy
[submodule "src/cargo-config"]
	path = src/cargo-config
	url = https://github.com/wesleywiser/cargo-config
[submodule "src/cargo-open"]
	path = src/cargo-open
	url = https://github.com/carols10cents/cargo-open
