[submodule "src/cargo-count"]
	path = src/cargo-count
	url = git@github.com:kbknapp/cargo-count.git
[submodule "src/cargo-outdated"]
	path = src/cargo-outdated
	url = git@github.com:kbknapp/cargo-outdated.git
[submodule "src/cargo-graph"]
	path = src/cargo-graph
	url = git@github.com:kbknapp/cargo-graph.git
[submodule "src/cargo-check"]
	path = src/cargo-check
	url = https://github.com/rsolomo/cargo-check
[submodule "src/cargo-do"]
	path = src/cargo-do
	url = https://github.com/pwoolcoc/cargo-do
[submodule "src/cargo-edit"]
	path = src/cargo-edit
	url = https://github.com/killercup/cargo-edit
[submodule "src/cargo-fmt"]
	path = src/cargo-fmt
	url = https://github.com/pwoolcoc/cargo-fmt
[submodule "src/cargo-script"]
	path = src/cargo-script
	url = https://github.com/DanielKeep/cargo-script
[submodule "src/cargo-watch"]
	path = src/cargo-watch
	url = https://github.com/passcod/cargo-watch
